{% extends 'base.html' %}

{% block title %}{{ course.title }} | Courses Details
{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-sm-3 ">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <img src="{{ course.thumbnail_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description | truncatechars:100}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><img src="https://img.icons8.com/android/20/000000/time.png"/> {{ course.course_length }}</li>
                    <li class="list-group-item"><img src="https://img.icons8.com/material-outlined/20/000000/video.png"/> {{ lecture.count }} Videos</li>
                    <li class="list-group-item"><img src="https://img.icons8.com/metro/20/000000/price-tag-euro.png"/> {{ course.course_type }}</li>
                </ul>
                <div class="card-body">
                    <a href="#" id="rzp-button1" class="btn btn-info">Subscribe Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-8 px-0 mx-0">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-header">
                    {{ course.title }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ lecture.title }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <div class="accordion" id="accordionExample">
                        {% for section in section %}
                        <div class="card">
                            <div class="card-header" id="headingOne{{ section.id }}">
                                <h2 class="mb-0">
                                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                        data-target="#collapseOne{{ section.id }}" aria-expanded="true"
                                        aria-controls="collapseOne{{ section.id }}">
                                        <img src="https://img.icons8.com/pastel-glyph/15/000000/plus.png"/> {{ section.title }}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne{{ section.id }}" class="collapse show"
                                aria-labelledby="headingOne{{ section.id }}" data-parent="#accordionExample">
                                <div class="card-body">{% for lecture in lecture %}{% if lecture.section == section %}
                                {% if lecture.lecture_type == "NOT PREMIUM" %}
                                    <li><a href="{{ course.course_slug }}/{{ lecture.lecture_slug }}"><b style="font-size: small; color: black;">{{ lecture.title }}</b></a></li>
                                    {% else %}<li><b style="font-size: small; color: black;">{{ lecture.title }}</b> <span class="badge badge-pill badge-secondary">PREMIUM VIDEO</span></li>
                                    {% endif %}
                                    {% else %}{% endif %}{% endfor %}
                                </div>
                            </div>
                        </div>{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if payment %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_EvRkz2Lul3YChi", // Enter the Key ID generated from the Dashboard
    "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Startup",
    "description": "{{course.title}}",
    "image": "https://example.com/your_logo",
    "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "/validate/course/check-payment/payment-ckecking",
    "prefill": {
        "name": "{{student.username}}",
        "email": "gaurav.kumar@example.com",
        "contact": "{{student.mobile_no}}"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>{% endif %}
{% endblock body %}