{% extends 'base.html' %}
{% load static %}
{% block title %}Courses
{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="container my-4">
    <div class="row">
        {% for course in course %}
        <div class="col-sm-4">
            <div class="card my-4 mx-3" style="width: 18rem;">
                <img src="{{ course.thumbnail_url }}" class="card-img-top" alt="Course Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description | truncatechars:100}}</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="card-text ">Length: <br>{{ course.course_length }}</p>
                        </div>
                        <div class="col-sm-6">
                            <a href="Courses/{{ course.course_slug }}" class="btn btn-info py-2 my-1">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}