{% extends 'base.html' %}

{% block title %}Pricing{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="container">
    <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container text-center">
            <h1 class="display-4">Subscripe to Premium Packages</h1>
            <p class="lead">ENJOY PREMIUM CONTENT AT AFFORDABLE PRICE</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Developer</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$20 <small class="text-muted">/ mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Error Support</li>
                            <li>No Advertisement</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Get Primium</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}